{% extends 'spelling/base.html' %}

{% block title %}Learn Spellings{% endblock %}

{% block content %}
<div id="homepage" class="row justify-content-center bg-white p-5 shadow rounded">


    <header class="text-center pb-5">
        <h2 class="h2">Review!</h2>
    </header>

    <table>
        <tr>
            <td> <a href="1?subject=1">Barun Hindi Review</a></td>
        </tr>
        <tr>
            <td> <a href="2?subject=2">XXXXXXX</a></td>
        </tr>
        <tr>
            <td> <a href="3?subject=3">Barun Social</a></td>
        </tr>
        <tr>
            <td> <a href="4?subject=4">Barun Spelling</a></td>
        </tr>
    </table>



</div>

<div id="homepagetest" class="row justify-content-center bg-white p-5 shadow rounded">


    <header class="text-center pb-5">
        <h2 class="h2">Test!</h2>
    </header>




</div>


{% endblock %}
