{% extends 'spelling/base.html' %}

{% block title %}Learn Spellings{% endblock %}

{% block content %}
<div id="homepage" class="row justify-content-center bg-white p-5 shadow rounded">


    <header class="text-center pb-5">
        <h2 class="h2">Review!</h2>
    </header>
    {% if data %}
    <table>
        {% for exp in data %}
        <tr>
            <td> <a href={{exp.0}}?subject={{exp.0}}>{{exp.1}}</a></td>
        </tr>

        {% endfor %}

        <!-- <tr>
            <td> <a href="2?subject=2">XXXXXXX</a></td>
        </tr>
        <tr>
            <td> <a href="3?subject=3">Barun Social</a></td>
        </tr>
        <tr>
            <td> <a href="4?subject=4">Barun Spelling</a></td>
        </tr> -->
    </table>

    {% else %}

    <p>There are no data in the library.</p>
    {% endif %}


</div>

<div id="homepagetest" class="row justify-content-center bg-white p-5 shadow rounded">


    <header class="text-center pb-5">
        <h2 class="h2">Test!</h2>
    </header>

    {% if data %}
    <table>
        {% for exp in data %}
        <tr>
            <td> <a href=test/{{exp.0}}?subject={{exp.0}}>{{exp.1}}</a></td>
        </tr>

        {% endfor %}

    </table>

    {% else %}

    <p>There are no data in the library.</p>
    {% endif %}


</div>


{% endblock %}
